<div class="page-header">
  <h1>Showing Person <%= @person.name %></h1>
</div>

<h2>Organizations</h2>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @person.organizations.each do |org| %>
          <li><%= link_to org.name, organization_path %></li>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
