<div class="page-header">
  <h1>Showing Organization <%= @organization.name %></h1>
</div>

<h2>People</h2>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @organization.people.each do |person| %>
          <li><%= link_to person.name, person_path %></li>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
